h2{
    margin: 50px auto;
}

img{
    max-width: 200px;
    height: auto;
    margin: 20px auto;
}

button{
    margin: auto 10px;
}

.tool-tip-description{
    position: absolute;
    z-index: 1;
    max-width: 250px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.95);
    color: aliceblue;
    border-radius: 10px;
    padding: 5px;
}